{% extends "base.html" %}
{% block content %}
    {% for inv in all_invoices %}
            <h2>Invoice for {{ inv.invoice_number }}</h2>
            <p>Customer Name: {{ inv.customer_name }}</p>
            <p>Amount: ${{ inv.amount }}</p>
            <p>Created: {{ inv.date_created|date:"d M Y" }}</p>

            {% if inv.amount >= 150 %}
                <p>High-value invoice!</p>
            {% else %}
                <p>Low-value invoice.</p>
            {% endif %}
    {% empty %}
            <p>No invoices available.</p>
    {% endfor %}

    <h1> Unpaid Invoices</h1>
    {% for inv in unpaid_invoices %}
    <p>
        {{ inv.invoice_number }} -
        {{ inv.customer_name }} -
        {{ inv.amount }}
    </p>
    {% empty %}
    <p>No unpaid invoices</p>
    {% endfor %}
    {% if invoice %}
        <hr>
        <h2>Single Invoice Detail</h2>
        <p>Number: {{ invoice.invoice_number }}</p>
        <p>Customer: {{ invoice.customer_name }}</p>
        <p>Amount: ${{ invoice.amount }}</p>
        <p>Created: {{ invoice.date_created|date:"d M Y" }}</p>
    {% endif %}
    {% if message %}
    <p style="color: green;">{{ message }}</p>
    {% endif %}
{% endblock %}